/*PALETA DE COLORES*/
.color-fondo{
    background-color: #EAEAEA ; 
}
.color-bloque{
    background-color: #CCCCCC ; 
}
.color-contenedor{
    background-color: #EAEAEA ;/*EAEAEA*/
}
.color-foother{
    background-color: #1A3C69;
}

/*GENERAL DE LA PÁGINA*/
*{
    color: #333333;
}
body{
    font-size: 115%;
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}
h1{
    color: #0078D4;
}
h2{
    color: #005A9C;
    text-align: center;
    font-family: 'poppins', sans-serif;
}
h3{
    color: #1A3C69;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

/*CABECERA*/
.cabecera{
    display: grid;
    grid-template-columns: 1fr 1.618fcr;
    height: auto;
    padding-top: 46px;
    
    
}
.logo-cabecera{
    grid-column: 1;
    grid-row: 1;
    height: 120px;
    margin: auto;
}
.titulo-cabecera{
    grid-column: 1/3;
    grid-row: 1;
    
    font-size: 400%;
    height: 120px;
    margin: 0 auto;
}
.titulo-cabecera.h1{
    font-family: 'poppins', sans-serif;
}
/*BLOQUES quienes somos y portafolio*/
.bloque{
    margin: 1% 0%;
    padding: 1px;
    p{
        margin: 2% 5%;
    }
    
}
.bloque.h1{
    text-align: center;
}
.bloque-texto{
    justify-self: center;

}

/*SERVICIOS*/
.servicios{
    margin: 3% 0%;
    padding: 1px;
}
.bloque-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenedor {
    height: auto;
    margin: 1% 1%;
}
.contenedor:hover{
    background-color: #1A3C69;
    transition: background-color 0.3s;
    border: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    h3{
        color: #F2AC29;
    }
    p,p strong{
        color: #EAEAEA;
    }
    

}
.contenedor{
    padding: 3%;
}
.muestra-imagenes{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 grid-template-columns: 1fr 1fr 1fr;
 img{
    height: 200px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    }   
}


/*CONTACTO*/
.contacto{
    text-align: center;
    margin-bottom: 5%;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
    color: transparent; /*Color del enlace, transparente, en algunos iconos aparece una linea de color, error por solucionar */
}
.links a i {
    font-size: 3rem;   /*Tamaño del link y de la imagen*/
}
.texto-link-1{
    font-size: 15px;
    text-align: right;
    position: absolute; /*Para que no afecte a la posicion de los demás iconos*/
    padding-top: 10px;
    margin: 5px 0px;
}
.texto-link-2{
    font-size: 15px;
    text-align: center;
    position: absolute; /*Para que no afecte a la posicion de los demás iconos*/
    padding-top: 10px;
    margin: 5px 15px;
}

/*PIE DE PAGINA*/
.pie-de-pagina{
    height: 40px;
}
/*Plataformas grandes*/
main{
    max-width: 1930px;
    margin: 0 auto;
}
@media (min-width: 1600px){
    .muestra-imagenes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/*PLATAFORMAS MOVILES*/
@media (max-width: 700px){
    .cabecera{
        grid-template-columns: 1fr;
        height: auto;
        margin: 0% 2%;
    }
    .logo-cabecera{
        grid-column: 1;
        grid-row: 1;
    }
    .titulo-cabecera{
        grid-column: 1;
        grid-row: 1/3;
        width: 100%;
        height: auto;
        font-size: 300%;

    }
    .bloque-servicios{
        grid-template-columns: 1fr;
    }
    .presentacion{
        margin: 10% 0;
    }
    .servicios{
        margin: 10% 0;
    }
    .contacto{
        margin: 10% 0;
    }
}