/*PALETA DE COLORES*/
.color-fondo{
    background-color: #F9FAFB ; 
}
.color-bloque{
    background-color: #F9FAFB ; 
}
.color-contenedor{
    background-color: #E9EEF4 ;/*EAEAEA*/
}
.cabecera{
    background-color: #1A3C69;
}
.barra-navegacion{
    /*background-color: #F9FAFB;*/
}
.color-foother{
    background-color: #2B2B2B;
}
.color-boton{
    background-color: #F2AC29;
}
*{
    color: #2B2B2B;
}
h1{
    color: #1A3C69;
}
h2{
    color: #1A3C69;
}
h3{
    color: #1A3C69;
}
.enlace{
    /*background-color: #28527A;*/
}
.enlace p{
    color: #D0D5DB; 
}
.enlace:hover{
   /* background-color: #292929;*/
    p{
        color: #F9FAFB; 
    }
}
.contenedor:hover{
    background-color: #D0D5DB;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    h3{
        color: #28527A;
    }
    p,p strong{
        color: #2B2B2B;
    }
}
.btm {
    color: rgb(255, 255, 255);
    border: 1px solid #ffff;
    i{
        color: rgb(255, 255, 255);
    }
}
.pie-de-pagina{
    p{
        color: #D0D5DB;
    }
}
  .lightbox__close {
    background-color: #ff4040;
    color: #ffffff; /*color de la x*/
  }

/*GENERAL DE LA PÁGINA*/

body{
    font-size: 115%;
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}
h1{
    text-align: center;
    font-family: 'poppins', sans-serif;
}
h2{
    text-align: center;
    font-family: 'poppins', sans-serif;
}
h3{
    text-align: center;
    font-family: 'poppins', sans-serif;
}
h4{
    text-align: center;
    font-family: 'poppins', sans-serif;
}

/*CABECERA*/
.cabecera{
    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
    height: auto;
    width: 100%;
    margin-bottom: 46px;
    position: fixed;
    z-index: 1;

}
main{
    padding-top: 60px;
}

.logo-grande{
    height: 35px;/*120px*/
    width: auto;
    grid-column: 1/2;
    grid-row: 1;
    margin: auto auto;
}

.titulo-cabecera.h1{
    font-family: 'poppins', sans-serif;
}
.barra-navegacion{
    grid-column: 3/4;
    height: auto;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.menu{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.enlace{
    cursor: pointer;
    text-decoration: none;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    li{
        margin-left: 3%;
        margin-right: 3%;
    }
}

.enlace_1{
    margin-right: 3%;
}
/*
.enlace_2{
    
}
*/
.enlace p{
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap; /*Que el texto esté en una linea*/
}

ul{
    list-style: none;
}
li{
    list-style: none;
}

/*BLOQUES*/
.bloque{
    margin-bottom: 46px;
    padding: 1px;
    p{
        margin: 2% 5%;
    }
    img{
        margin: 0 auto;
        width: 90%;
        
    }
    .imagen-suelta{
        width: 85%;
        display: flex;
        justify-content: center;
        margin: 46px auto;
    }
}

.bloque.h1{
    text-align: center;
}
.bloque-texto{
    justify-self: center;

}

/*SERVICIOS*/
.servicios{
    margin: 3% 0%;
    padding: 1px;
}
.bloque-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    
}
.contenedor {
    grid-column: auto;
}
.contenedor:hover{
    transition: background-color 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.contenedor{
    padding: 3%;
}
.bloque-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}
.icono{
    height: auto;
    width: 60px;
    align-self: center;
}
.icono-en-texto{
    height: 15px;
    width: auto !important; /*Para anular la propiedad heredada del padre (bloque)*/
    object-fit: contain;
    display: inline;
    
}
.muestra-imagenes{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 img{
    height: 200px;
    width: auto;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    filter: brightness(1);
    }   
    img:hover{
        
        filter: brightness(0.8);
        transition: background-color 0.3s;
        border: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        cursor: pointer;
}

}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 2%;
}
.btm {
    cursor: pointer; /*camia el cursor al pasar por encima*/
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px; /*10 arriba y abajo  20 a los lados*/
    font-size: 15px;
    text-decoration: none; /*El texto del enlace no salga subrayado*/
    i{
        margin-left: 5px;
    }
    
}
.btm:hover {
    opacity: 0.7; /*Al pasar el cursor se oscurece*/
}


/*CONTACTO*/
.contacto{
    text-align: center;
    margin-bottom: 5%;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
    color: transparent; /*Color del enlace, transparente, en algunos iconos aparece una linea de color, error por solucionar */
}
.links a i {
    font-size: 3rem;   /*Tamaño del link y de la imagen*/
}
.texto-link-1{
    font-size: 15px;
    text-align: right;
    position: absolute; /*Para que no afecte a la posicion de los demás iconos*/
    padding-top: 10px;
    margin: 5px 0px;
}
.texto-link-2{
    font-size: 15px;
    text-align: center;
    position: absolute; /*Para que no afecte a la posicion de los demás iconos*/
    padding-top: 10px;
    margin: 5px 15px;
}

/*PIE DE PAGINA*/
.pie-de-pagina{
    display: grid;
    align-items: center;
    text-align: center;
    height: 46px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    p{
        color: #D0D5DB;
        margin: auto auto;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    
}
/*Plataformas grandes*/
main{
    max-width: 1930px;
    margin: 0 auto;
}

/*PLATAFORMAS MOVILES*/
@media (min-width: 1600px){
    .muestra-imagenes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 700px){
    .cabecera{
        height: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1.618fr;
    }
    main{
        padding-top: 90px;
    }
    .logo-grande{
        height: 35px;
        width: auto;
        object-fit: cover;
        grid-row: 1;
        grid-column: 1/3;
        padding-left: 4px;
    }
    .barra-navegacion{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .titulo-cabecera{
        grid-column: 1;
        grid-row: 1/3;
        width: 100%;
        height: auto;
        font-size: 300%;
    }
    .menu{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .bloque-servicios{
        grid-template-columns: 1fr;
        
    }
    .muestra-imagenes{  
        width: 100%;
        margin: 0 auto;
    }
    .bloque{
        .imagen-suelta{
            width: 100%;
        }
    }
    .presentacion{
        margin-bottom: 10%;
    }
    .servicios{
        margin-bottom: 10%;
    }
    .contacto{
        margin-bottom: 10%;
        
    }
}

@media (max-width: 420px){
    .logo-grande{
        height: 100%;
        width: 100%;
        object-fit: contain;
        grid-row: 1;
        grid-column: 1;
    }
    .barra-navegacion{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .menu{
        flex-direction: column;
    }
}


/*LIGH BOX*/

.lightbox {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 90%);
    display: none;
    
  }
  .lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .lightbox__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-weight: bold; /*X en negrita*/
  }
  .lightbox img {
    max-height: auto;
    max-width: 100%;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*****************/
  